# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pyc

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE
.idea
cmake-build-debug*
cmake-build-release*
.clion*
.vscode
.clangd
.cache

# Build directories
build/
build-ament*/
install-ament/

# Simulation outputs
*.csv
*.png
*.mp4
*.mpeg
*_rollouts/

# Python
__pycache__/
*.py[cod]

# Nvidia logs
*.nsys-rep

# Others
imgui.ini